:root {
  --background-color: #f3f1f4;
  --main-color: #1d1d1d;
  --inverse-color: #b8b8b8;
  --menu-color: #8b8b8b;
  --accent-color: #a54cff;
  --header-font-family: "Days One", sans-serif;
  --regular-font-family: "Kufam", sans-serif;
}
body {
  background-color: var(--background-color);
}
nav {
  font-family: var(--regular-font-family);
  font-size: 24px;
  color: var(--menu-color);
}
nav li {
  display: inline;
  list-style: none;
}
nav ul {
  padding: 68px 0 42px;
  margin: 0;
}
.logo {
  margin: 60px 0 47px 67px;
}
.nav-bar {
  border: 1px solid var(--menu-color);
}
