:root {
  --background-color: #f3f1f4;
  --main-color: #1d1d1d;
  --inverse-color: #b8b8b8;
  --menu-color: #8b8b8b;
  --accent-color: #a54cff;
  --header-font-family: "Days One", sans-serif;
  --regular-font-family: "Kufam", sans-serif;
}
body {
  width: 100%;
}
.wrapper-sub {
  background-color: var(--background-color);
  width: 100%;
}
.work--video--section {
  height: 620px;
  position: relative;
  z-index: 0;
}
.work--video--section video {
  width: 100%;
}
.work--video--section .overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
}
.overlay h1 {
  padding: 116px 121px;
  font-size: 64px;
  line-height: 1.2;
}
.work--video--section_motion {
  height: 775px;
  position: relative;
  z-index: 0;
}
.work--video--section_motion video {
  width: 100% !important;
}
.work--video--section_motion .overlay_motion {
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: 1;
}
.overlay_motion h2 {
  font-size: 64px;
  color: var(--background-color);
  line-height: 1.2;
}

.wrapper--graphic {
  background-image: url(/svg/BG_work.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 120px;
}
.wrapper--graphic img {
  display: block;
  width: 496px;
}
.img-left {
  margin-left: 230px;
}
.img-right {
  margin-left: 18px;
}
.first-row--img {
  margin-top: 170px;
}

.wrapper--motion {
  background-color: var(--main-color);
  padding-bottom: 120px;
  padding-top: 120px;
}
.wrapper--motion a {
  text-decoration: none;
  color: var(--background-color);
  font-family: var(--regular-font-family);
  font-size: 16px;
}
.showreel-img {
  display: block;
  margin: 0 auto;
  width: 1042px;
}
.showreel-description {
  text-align: center;
  margin-top: 15px;
}
.motion-img img {
  width: 496px;
}
.motion-img div {
  margin-top: 15px;
}
.right-img {
  margin-left: 50px;
}
.motion-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
footer {
  background-color: var(--main-color);
  border-top: 1px solid var(--menu-color);
}
