:root {
  --background-color: #f3f1f4;
  --main-color: #1d1d1d;
  --inverse-color: #b8b8b8;
  --menu-color: #8b8b8b;
  --accent-color: #a54cff;
  --header-font-family: "Days One", sans-serif;
  --regular-font-family: "Kufam", sans-serif;
}
body {
  width: 100%;
}
.wrapper-sub {
  background-color: var(--background-color);
  width: 100%;
}
.work--video--section {
  height: 620px;
  border-bottom: 1px solid var(--menu-color);
}
.work--video--section video {
  position: relative;
  z-index: 0;
  width: 100% !important;
}
.overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
}
.overlay h1 {
  padding: 116px 121px;
  font-size: 64px;
  line-height: 1.2;
}
.work--video--section_motion video {
  position: relative;
  z-index: 0;
  width: 100% !important;
  background-color: #1d1d1d;
}
.overlay_motion h2 {
  font-size: 64px;
  color: var(--background-color);
  line-height: 1.2;
}
.overlay_motion {
  position: absolute;
  top: 560%;
  left: 35%;
  z-index: 1;
}
.wrapper--graphic {
  background-image: url(/svg/BG_work.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 120px;
}
.wrapper--graphic img {
  display: block;
  width: 496px;
}
.img-left {
  margin-left: 230px;
}
.img-right {
  margin-left: 18px;
}
.first-row--img {
  margin-top: 170px;
}
.content_img {
  position: relative;
  margin-bottom: 40px;
}
.content_img div,
.content_img-left div {
  position: absolute;
  bottom: 0;
  right: 1.5%;
  text-align: center;
  background: rgba(55, 55, 55, 0.5);
  color: white;
  font-family: var(--regular-font-family);
  opacity: 0;
  border-radius: 4px;
  visibility: hidden;
  transition: visibility 0s, opacity 600ms ease-in-out;
}

.content_img:hover,
.content_img-left:hover {
  cursor: pointer;
}
.content_img:hover div,
.content_img-left:hover div {
  width: 495px;
  height: 406px;
  padding-top: 370px;
  visibility: visible;
  opacity: 0.7;
}

.content_img-left {
  position: relative;
  margin-bottom: 40px;
}
.content_img-left div {
  right: 30.5%;
}
.wrapper--motion {
  background-color: var(--main-color);
}
footer {
  background-color: var(--main-color);
  border-top: 1px solid var(--menu-color);
}
